/* Imports Google Font */
@import url('https://fonts.googleapis.com/css?family=Thasadith');

/* Sets page-wide fonts, flexbox settings, background color gradient */
body {
    font-family: 'Thasadith', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(117, 7, 131, 0.8), rgb(255, 255, 255, 0.8), rgba(219, 130, 203, 0.8));

}

/* Sets container for main content and sidebar to page height and uses grid to set the sidebar */
#container {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
}

h1 {
    font-size: 50px;
    padding: 10px;
}

h2 {
    font-size: 30px;
    padding: 10px;
}

.topic {
    font-size: 18px;
    background-color: lavender;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: #666666;
}

.gif {
    cursor: pointer;
    border: 2px dotted gray;
    margin: 10px;
}

label {
    font-size: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: top;
    align-items: center;
    justify-items: center;
    align-content: center;
}

footer {
    border-top: 8px solid plum;
    background-color: #666666;
    flex-shrink: 0;
    text-align: center;
    height: auto;
    color: #fff;
    font-size: 20px;
}

.addFavorite {
    background-color: red;
    color: white;
    border-radius: 25px;
}

.itemContent {
    max-width: 200px;
}

.more {
    font-size: 18px;
    margin: 40px;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 25px;
}